# Local .terraform direct
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variables files that may contain sensitive information
*.tfvars
*.tfvars.json

# Crash log files
crash.log

# Override files 
*.override.tf
*/*.override.tf.json

#  Terraform CLI configuration files
.terraformrc
terraform.rc

# Terraform plugin cache
.terraform.d/plugins/